{{!-- Narrator Master - Journal Picker Dialog Template --}}
{{!-- Multi-select journal/folder picker with hierarchical tree view --}}

<div class="journal-picker-container" data-module-id="{{moduleId}}">
    {{!-- Header Section --}}
    <div class="picker-header">
        <div class="picker-header-actions">
            <button type="button" class="select-all-btn" title="{{localize 'NARRATOR.Panel.JournalPicker.SelectAll'}}">
                <i class="fas fa-check-double"></i>
                {{localize 'NARRATOR.Panel.JournalPicker.SelectAll'}}
            </button>
            <button type="button" class="deselect-all-btn" title="{{localize 'NARRATOR.Panel.JournalPicker.DeselectAll'}}">
                <i class="fas fa-times"></i>
                {{localize 'NARRATOR.Panel.JournalPicker.DeselectAll'}}
            </button>
        </div>
        <div class="picker-selection-count">
            <i class="fas fa-info-circle"></i>
            <span>{{localize 'NARRATOR.Panel.JournalPicker.SelectedCount'}}: <strong>{{selectedCount}}</strong> / {{totalCount}}</span>
        </div>
    </div>

    {{!-- Journal Tree Content --}}
    <div class="picker-content">
        {{#if hasJournals}}
            {{#if hasFolders}}
            <div class="picker-section">
                <h3 class="picker-section-title">
                    <i class="fas fa-folder"></i>
                    {{localize 'NARRATOR.Panel.JournalPicker.Folders'}}
                </h3>
                <ul class="folder-tree">
                    {{#each folderTree}}
                        {{> folderNode}}
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            {{#if rootJournals}}
            <div class="picker-section">
                <h3 class="picker-section-title">
                    <i class="fas fa-book"></i>
                    {{localize 'NARRATOR.Panel.JournalPicker.Journals'}}
                </h3>
                <ul class="journal-list">
                    {{#each rootJournals}}
                        <li class="journal-item">
                            <label class="journal-label">
                                <input type="checkbox"
                                       class="journal-checkbox"
                                       data-id="{{this.id}}"
                                       data-type="{{this.type}}"
                                       {{#if this.selected}}checked{{/if}} />
                                <i class="fas fa-book"></i>
                                <span class="journal-name">{{this.name}}</span>
                            </label>
                        </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
        {{else}}
            <div class="picker-empty-state">
                <i class="fas fa-book-open"></i>
                <p>{{localize 'NARRATOR.Panel.JournalPicker.NoJournalsAvailable'}}</p>
            </div>
        {{/if}}
    </div>

    {{!-- Footer Section --}}
    <div class="picker-footer">
        <button type="button" class="save-selection-btn">
            <i class="fas fa-save"></i>
            {{localize 'NARRATOR.Panel.JournalPicker.Save'}}
        </button>
        <button type="button" class="cancel-btn">
            <i class="fas fa-times"></i>
            {{localize 'NARRATOR.Panel.JournalPicker.Cancel'}}
        </button>
    </div>
</div>

{{!-- Partial template for recursive folder rendering --}}
{{#*inline "folderNode"}}
<li class="folder-item {{#if this.expanded}}expanded{{/if}}">
    <div class="folder-header">
        {{#if this.hasChildren}}
        <button type="button"
                class="folder-toggle"
                data-folder-id="{{this.id}}"
                title="{{#if this.expanded}}{{localize 'NARRATOR.Panel.JournalPicker.CollapseFolder'}}{{else}}{{localize 'NARRATOR.Panel.JournalPicker.ExpandFolder'}}{{/if}}">
            <i class="fas {{#if this.expanded}}fa-chevron-down{{else}}fa-chevron-right{{/if}}"></i>
        </button>
        {{else}}
        <span class="folder-spacer"></span>
        {{/if}}

        <label class="folder-label">
            <input type="checkbox"
                   class="folder-checkbox"
                   data-id="{{this.id}}"
                   data-type="{{this.type}}"
                   {{#if this.selected}}checked{{/if}} />
            <i class="fas {{#if this.expanded}}fa-folder-open{{else}}fa-folder{{/if}}"></i>
            <span class="folder-name">{{this.name}}</span>
            <span class="folder-count">({{this.journalCount}})</span>
        </label>
    </div>

    {{#if this.hasChildren}}
    <div class="folder-children {{#unless this.expanded}}hidden{{/unless}}">
        {{#if this.folders}}
        <ul class="folder-tree nested">
            {{#each this.folders}}
                {{> folderNode}}
            {{/each}}
        </ul>
        {{/if}}

        {{#if this.journals}}
        <ul class="journal-list nested">
            {{#each this.journals}}
                <li class="journal-item">
                    <label class="journal-label">
                        <input type="checkbox"
                               class="journal-checkbox"
                               data-id="{{this.id}}"
                               data-type="{{this.type}}"
                               {{#if this.selected}}checked{{/if}} />
                        <i class="fas fa-book"></i>
                        <span class="journal-name">{{this.name}}</span>
                    </label>
                </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    {{/if}}
</li>
{{/inline}}
